/* style.css */

body {
    background-color: #37517a;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#main {
    max-width: 600px;
    margin: auto;
}

a {
    color: #F5DD90;
}

a:hover {
    color: #FAE98A;
}

a:visited {
    color: #E3DB71;
  }

#title {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 3rem;
}

#img-div {
    background-color: #de776f;
    padding: 2%;
    margin: 1rem 0;
}

#image {
    max-width: 100%;
    display: block;
    margin: auto;
}

#img-caption {
    text-align: center;
}

#tribute-info {
    text-align: justify;
    text-indent: 2rem;
    /* line-height: 1.5rem; */
}

#more {
    text-align: end;
}

/* #tribute-link {
    display: block;
    float: right;
} */

